<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LocalPort" value="6000" />
    <add key="NetCardDescription" value="Marvell AVASTAR Wireless-AC Network Controller:192.168.11.6" />
    <add key="OUTQueryTime" value="200" />
    <add key="INPUTQueryTime" value="200" />
    <add key="NetCheckTime" value="10" />
    <add key="NetNoAckNum" value="10" />
  </appSettings>
</configuration>